{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:155}}
    {% else %}
        Welcome to My Home, where you can make your dream home.
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{category.name}}-My Home
    {% else %}
        See our New Collections-My Home
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div>
            <div class="row my_row_class">
                <div class="mx-auto">
                <p>
                    <a href="{% url 'sale:allProdCat' %}">Our Product Collections</a>
                </p>
                </div>
            </div>
        </div>

    {% endif %}
<div class="mx_auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.names}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
     {% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Products" width="1250px;">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Product Collections</h1>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie ipsum lobortis est consectetur pellentesque. Cras dapibus at lorem ac tempor. Aliquam bibendum vulputate facilisis. Sed ornare ac ligula tempor tempus. Nunc et aliquam erat. Proin dignissim varius enim, vel tempus neque molestie non. Etiam pulvinar tortor in est ornare, quis scelerisque turpis aliquam. Nam at lacus aliquam nulla consequat posuere nec sed nunc. Donec tristique imperdiet purus nec suscipit. Etiam felis mauris, consectetur eget odio at, iaculis vulputate ex. Ut pellentesque eu lacus dictum faucibus. Nulla bibendum placerat mi at pulvinar. Duis nisi urna, venenatis ut condimentum vitae, pretium et nulla. Nullam in diam vel magna finibus sollicitudin. Maecenas sollicitudin tristique diam eu eleifend. Aliquam aliquam purus vitae felis elementum, quis vulputate nunc cursus.
    </p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
            <div class="my_bottom_margin col-9  col-sm-12  col-md-4  xol-lg-4">
                <div class="card text-center" style="min-width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                </div>
            </div>
        <div class="card-body">
            <h4>{{product.name}}</h4>
            <p>
                ${{product.price}}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}